body {
  font-family: arial, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #cccccc;
  padding: 10px;
}

th {
  font-weight: bold;
  text-transform: capitalize;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

h2 {
  text-align: center;
}

input[type=text], select {
  width: 35%;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-bottom: 2px solid #9ccaff;
  outline: none;
  transition: width 0.4s ease-in-out;
  transition: border-bottom 2s;
}

input[type=text]:focus {
  border-bottom: 2px solid #0004ff;
}

input[type=image] {
  width: 50px;
  margin-left: 30px;
  margin-bottom: -25px;
}

input:focus::placeholder {
  color: transparent;
}

div {
  padding: 40px;
}