/* body {
  font-family: arial, sans-serif;
} */

html {
  scroll-behavior: smooth;
}

body{
  -webkit-print-color-adjust: exact;
}

table {
  border-collapse: collapse;
  display:table;
  table-layout:fixed;
  /* width: 8.25in; */
  margin-left: auto;
	margin-right: auto;
}

/* td,
th {
  border: 1px solid #cccccc;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  display: table-cell;
} */

/* th {
  font-weight: bold;
  text-transform: capitalize;
} */

/* tr:nth-child(even) {
  background-color: #dddddd;
} */

table tr th:nth-child(1){
  width: 24%;
}

h2 {
  text-align: center;
}

/* input[type=text], select {
  width: 35%;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-bottom: 2px solid #9ccaff;
  outline: none;
  transition: width 0.4s ease-in-out;
  transition: border-bottom 0.5s;
} */

/* input[type=text]:focus {
  border-bottom: 2px solid #0004ff;
} */

/* input[type=image] {
  width: 50px;
  margin-left: 30px;
  margin-bottom: -25px;
} */

/* input:focus::placeholder {
  color: transparent;
} */

/* div {
  padding: 40px;
} */

#table-container {
  visibility: hidden;
}

section section div h2 {
  margin: 3em;
}
#inner-table-placeholder {
  margin-top: 8em;
}

#disclaimer {
  text-align: center;
}

#first-dst-day {
  font-size: .75em;
}

.candle-lighing {
  background-color: #feffae;
}